.container {
  margin: 50px 40px;
  height: 580px;
  width: 600px;
  color: aliceblue;
  text-align: center;
  text-transform: capitalize;
  font-size: xx-large;
}
#img {
  width: 50%;
  background-color: #9191fb;
  float: left;
  height: 200px;
}
#text1 {
  width: 50%;
  background-color: #239ec6;
  float: right;
  height: 200px;
}
#text2 {
  width: 100%;
  background-color: #ade4f6;
  height: 150px;
  clear: both;
}
#img2 {
  width: 100%;
  background-color: #239ec6;
  height: 150px;
  clear: both;
}
#container {
  margin: 50px 40px;
  height: 500px;
  width: 600px;
  display: inline-flex;
  flex-wrap: wrap;
  color: aliceblue;
  text-align: center;
  text-transform: capitalize;
  font-size: xx-large;
}
/* #container > .img,
.text1 {
  flex-basis: 200px;
}
.text2,
.img2 {
  flex-basis: 150px;
} */
.img {
  background-color: #9191fb;
  width: 50%;
}
.text1 {
  background-color: #239ec6;
  width: 50%;
}
.text2 {
  background-color: #ade4f6;
  width: 100%;
}
.img2 {
  background-color: #239ec6;
  width: 100%;
}
h3 {
  color: black;
  width: 100%;
}
